@charset "utf-8";

/* rodapé */
footer {
    width: 100%;
    height: 40px;   
    background-color: rgb(215, 122, 0);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

footer p {
    color: #ffffff;
    padding-top: 7px;
    font-size: 1.2em;    
}

/* Botão Reset */
#btnReset {
    width: 48px;
    height: 48px;
    background-image: url("../img/limpar.png");
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
